# Global code owners
* @KurhyWns

# Documentation specific owners
/docs/ @KurhyWns

# MkDocs configuration
mkdocs.yml @KurhyWns

# GitHub Actions workflows
/.github/workflows/ @KurhyWns

# Project files
/projects/ @KurhyWns
